/*Google Fonts
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
*/


#no-pointer {
   pointer-events: none;
   cursor: default;
}

body{
  background: #d4deea !important;
}

.text{
  font-family: 'Noto Sans TC',  sans-serif;
}


.language{
  background: #E6D8E8 !important;
}

.counter{
  font-size: 30px;
}

.box{
  margin: 25px 0px
}

.section-header{
  background: #64b5f6 !important;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}


#accordion {
list-style: none;
padding: 0;
height: 500px;
overflow: hidden;
}

#accordion li {
float: left;
border-left:
display: block;
height: 500px;
width: 16.25%;
overflow: hidden;
text-decoration: none;
font-size: 16px;
}

#pics {
border: none;
float: left;

}

#v-accordion li.active {
width: 37%;
}

#v-accordion {
list-style: none;
padding: 0;
height: 800px;
overflow: hidden;
}

#v-accordion li {
float: left;
border-left:
display: block;
height: 200px;
overflow: hidden;
text-decoration: none;
font-size: 16px;
}

#v{
list-style: none;
padding: 0;
height: 500px;
overflow: hidden;
}
#v li img {
}
#v > li > .row {
    display: none; // used to hide sub-menus
}
.panel .active {
height: 400px;
}
.panel{
height: 0px;
    overflow: hidden;
}






.card-title h5{
  font-size: 18px;
}

.card-title p{
  font-size: 12px;
}
