/*Google Fonts*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

#no-pointer {
   pointer-events: none;
   cursor: default;
}

body{
  background: #d4deea !important;
}

.text{
  font-family: 'Noto Sans TC', sans-serif;
}

.language{
  background: ##E6D8E8 !important;
}

.counter{
  font-size: 30px;
}

.box{
  margin: 25px 0px
}
